*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 0%, 73%);
}

body {
  background-color: #1d1d1d;
}

.wrap {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}


.card {
  max-width: 750px;
  box-shadow: rgba(188, 218, 248, 0.212) 0px 2px 8px 8px;
  color: hsl(206, 17%, 28%);
  background-color: hsl(0, 0%, 51%);
  border-width: 1px;
  border-radius: 5px;
  font-size: 20px;
  margin: 0 auto;
  padding: 30px 40px;
}
.card-content {
  min-height: 100px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #b3b6b9;
  height: 2px;
}


.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #b3b6b9;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #103764;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    line-height: 20px;
    font-size: 24px;
    padding: 14px 34px;
    margin: 16px 16px 16px 20px;
  }
  
  button[disabled] {
    cursor: default;
    background: #c0c7cf;
  }
  
  .float-right {
    float: right;
  }
  
  #password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
  }
  
  @media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }